<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd" default-lazy-init="true" >

	<bean id="batch" class="com.perennialsys.demo.Batch">
	<property name="bid" value="312"></property>
	<property name="bname" value="Zukerberg"></property>
	<property name="tname" value="Sonal"></property>
	</bean>
	
	<bean id="addr" class="com.perennialsys.demo.Address" >
		<property name="city" value="Mumbai" />
		<property name="state" value="Maharashtra" />

	</bean>
	
	<bean id="s1" class="com.perennialsys.demo.Student" autowire="constructor" >
		<constructor-arg value="999" type="int" />
		<constructor-arg value="Alka" />
	</bean>
	
<!-- 	by default scope=singleton>>>it will create object immediately
	scope=prototype>>>lazy initialization and for every getBean it will create a new insatnce
	//if lazy-init=true then first it will start container then beans will be initialized
 -->
</beans>